<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776429173824-jcsqlofg3d836801t30m5t4a18q1nt7h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776429173824-jcsqlofg3d836801t30m5t4a18q1nt7h</string>
	<key>API_KEY</key>
	<string>AIzaSyD-LaalbqNyAzuAO4jKp80y9WGXfEQUstE</string>
	<key>GCM_SENDER_ID</key>
	<string>776429173824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tantt.iexpense</string>
	<key>PROJECT_ID</key>
	<string>iexpense-8811f</string>
	<key>STORAGE_BUCKET</key>
	<string>iexpense-8811f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776429173824:ios:8ca85bca0ce64a1fe3b3a5</string>
</dict>
</plist>